.Intro{
	/* background:url(./imgs/city.jpg) no-repeat center center; */
	/* background-attachment:fixed; */
  background-position: scroll;
	height:100vh;
  margin-top: 0;
}
.Intro .background {
  height: 100vh;
  width: 100vw;
  background:url(./imgs/city.jpg) no-repeat center center;
  position: fixed;
  z-index:-1
}
.crest_wrapper {
  display: flex;
  /* width: 100vw; */
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.crest {
  min-width: 325px;
  background: #000
}
.inner_crest{
	border: 5px solid #FFF;
	color:#FFF;
  margin: 2%;
	border-bottom-left-radius: 20px;
	border-top-right-radius :20px; 
	text-align: center;
}

