.slideIn {
  animation: slideIn 0.3s ease-in forwards
}
.slideOut {
  animation: slideOut 0.3s ease-out forwards
}

@keyframes slideIn {
  0% {
    transform: translateX(0)
  }
  100% {
    transform: translateX(-250px)
  }
}
@keyframes slideOut {
  0% {
    transform: translateX(-250px)
  }
  100% {
    transform: translateX(0)
  }
}