.certificate {
  padding: 5rem;
  min-height: 60vh;
  background: #FFF;
}
.certificate .header {
  text-align: center;
  font-size: 5rem;
  padding: 2rem;
}
.certificate .carousel {
  height: 40vh;
}
.certificate .carousel img {
  max-width: 350px;
}