.Project {
  background-color: #FFF;
}
.Project .header {
  font-size:5rem;
  text-align: center;
}
.Project .body {
  padding: 3rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}